*,
*::before,
*::after {
    box-sizing: border-box;
}


*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

/* header */

.header-inner {
    display: flex;
    padding: 40px;
    background: transparent;
    position: relative;
    isolation: isolate;

}

.prof-name {
    position: absolute;
    left: 65px;
    bottom: 30px;
    z-index: 1;
    color: white;
    font-size: 46px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

.header-inner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(123, 63, 0, 0.7);
    clip-path: polygon(0 0,
            100% 0,
            100% calc(100% - 240px),
            0 100%);
    z-index: -1;


}

.header-prof-pic {
    max-width: 350px;
    max-height: 350px;
    position: relative;
}

.header-prof-pic img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.header-about {
    max-height: 100%;
    margin: 45px 0px 20px 0px;
    box-shadow: 0 2px 12px -4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background-color: white;
}

.header-icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-self: flex-end;
    margin-top: auto;
    padding: 0px 20px 30px 0px;
}

.header-icons img {
    width: clamp(18px, 2.5vw, 26px);
    height: clamp(18px, 2.5vw, 26px);
}

.about-text {
    padding: 20px;
}

/* main */

main,
footer {
    width: 100%;
}

.main-inner {
    padding: 40px 40px 90px 40px;
}

.main-cards {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

article {
    width: 100%;
    box-shadow: 0 2px 12px -4px rgba(0, 0, 0, 0.25);
}

.card-img {
    font-size: 36px;
    text-align: center;
    background-color: brown;
    color: white;
    padding: 50px 0px;
}

.card-descr {
    padding: 15px 20px 60px 20px;
}

.one {
    background-color: brown;
}

.two {
    background-color: blueviolet;
}

.three {
    background-color: green;
}

.four {
    background-color: pink;
}

.five {
    background-color: orange;
}

.six {
    background-color: blue;
}

.card-icons-cont {
    display: flex;
    justify-content: space-between;
}

.card-icons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.card-icons img {
    width: clamp(18px, 2.5vw, 24px);
    height: clamp(18px, 2.5vw, 24px);
}

/* contacts/footer */


.footer-inner {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    background-color: rgba(123, 63, 0, 0.7);
}

.footer-contact-me {
    max-width: 300px;
    color: white;
}

.footer-inner-pic {
    width: 100%;
}

.footer-prof-pic img {
    width: 500px;
    height: 390px;
}


.footer-contact-me p {
    margin: 20px 0px;

}

.contact-details ul {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0px;
}

.contact-details li {
    display: flex;
    gap: 0.5rem;

}

.contact-details img {
    width: clamp(12px, 2.5vw, 24px);
}

.footer-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 20px 0px;
}

.footer-icons img {
    width: clamp(18px, 2.5vw, 26px);
    height: clamp(18px, 2.5vw, 26px);
}

/* responsiveness */

@media (max-width: 851px) {
    .prof-name {
        left: 65px;
        bottom: 50px;
        font-size: 42px;
    }
}

@media (max-width: 740px) {
    .prof-name {
        bottom: 50px;
        left: 55px;
    }
}

@media (max-width: 730px) {

    .header-inner,
    .footer-inner {
        display: flex;
        flex-direction: column;
    }

    .footer-prof-pic img {
        object-fit: cover;
    }
}


@media (min-width: 431px) and (max-width: 730px) {
    .header-inner {
        gap: 20px;
        padding: 20px;
    }

    .header-prof-pic {
        max-width: 690px;
        max-height: 690px;
    }

    .header-about {
        margin-top: 20px;
    }

    .prof-name {
        font-size: 38px;
        left: 45px;
        bottom: 350px;
        font-size: 38px;
    }
}

@media (max-width: 430px) {
    .prof-name {
        left: 55px;
        bottom: 430px;
    }


}

@media (max-width:375px) {
    .prof-name {
        right: auto;
        top: 310px;
        bottom: auto;
        left: 55px;
        font-size: 34px;
    }

    .header-prof-pic img {
        width: 100%;
        height: 320px;
        object-fit: cover;
    }
}

@media (max-width:320px) {
    .footer-prof-pic img {
        object-fit: cover;
    }

    h2 {
        text-align: center;
    }

    .container {
        padding: 20px
    }

    .prof-name {
        right: auto;
        top: 290px;
        bottom: auto;
        left: 40px;
        font-size: 36px;
    }
}